:root {
    /* Colors */
    --fir-c-white: #ffffff;
    --fir-c-white-soft: #f9f9f9;
    --fir-c-white-mute: #f1f1f1;
    --fir-c-black: #1a1a1a;
    --fir-c-black-pure: #000000;
    --fir-c-black-soft: #242424;
    --fir-c-black-mute: #2f2f2f;
    --fir-c-gray: #8e8e8e;
    --fir-c-gray-light-1: #aeaeae;
    --fir-c-gray-light-2: #c7c7c7;
    --fir-c-gray-light-3: #d1d1d1;
    --fir-c-gray-light-4: #e5e5e5;
    --fir-c-gray-light-5: #f2f2f2;
    --fir-c-gray-dark-1: #636363;
    --fir-c-gray-dark-2: #484848;
    --fir-c-gray-dark-3: #3a3a3a;
    --fir-c-gray-dark-4: #282828;
    --fir-c-gray-dark-5: #202020;
    --fir-c-primary: #42b883;
    --fir-c-primary-light: #42d392;
    --fir-c-primary-lighter: #35eb9a;
    --fir-c-primary-lighter-1: #a2ffd5;
    --fir-c-primary-dark: #33a06f;
    --fir-c-primary-darker: #155f3e;
    --fir-c-red: #C62828;
    --fir-c-red-30: #EEBFBF;
    --fir-c-red-10: #F9E9E9;
    --fir-c-red-90: #624242;
    --fir-c-green: #00B233;
    --fir-c-green-30: #B3E8C2;
    --fir-c-green-10: #E5F7EB;
    --fir-c-green-90: #385B44;
    --fir-c-blue: #379BD9;
    --fir-c-blue-30: #C3E1F4;
    --fir-c-blue-10: #EBF5FB;
    --fir-c-blue-90: #3C5767;
    --fir-c-yellow: #FFB735;
    --fir-c-yellow-30: #FFE9C2;
    --fir-c-yellow-10: #FFF8EB;
    --fir-c-orange: #F5771E;
    --fir-c-orange-30: #FCD6BB;
    --fir-c-orange-10: #FEF1E8;
    --fir-c-orange-90: #6D523F;
    --fir-c-transparent-dark: rgba(0, 0, 0, 0.7);
    --fir-c-transparent: rgba(0, 0, 0, 0.3);
    --fir-c-transparent-light: rgba(0, 0, 0, 0.15);

    /* Text, Font */
    --fir-global-font-family: Inter, sans-serif;
    --fir-global-font-size-small: 12px;
    --fir-global-font-size-medium: 14px;
    --fir-global-font-size-large: 18px;
    --fir-global-text-color: var(--fir-c-black-soft);
    --fir-global-reverse-text-color: var(--fir-c-white-soft);
    --fir-global-text-disabled-color: var(--fir-c-gray-light-1);
    --fir-global-text-error-color: var(--fir-c-red);

    /* Sizes */
    --fir-global-border-radius: 4px;
    --fir-global-inputs-padding: 4px;

    /* Other */
    --fir-global-bg-color: var(--fir-c-white);
    --fir-global-duration: .25s;

    /* Borders */
    --fir-global-border-color: var(--fir-c-gray-light-1);
    --fir-global-border-color-hover: var(--fir-c-gray-dark-1);
    --fir-global-border-color-focus: var(--fir-c-primary);
    --fir-global-border-color-disabled: var(--fir-c-gray-light-3);
    --fir-global-border-color-error: var(--fir-c-red);

    /* Button */
    --fir-button-font-size-small: 13px;
    --fir-button-font-size-medium:  var(--fir-global-font-size-medium);
    --fir-button-font-size-large: var(--fir-global-font-size-large);
    --fir-button-padding-small: 2px 4px;
    --fir-button-padding-medium: 4px 8px;
    --fir-button-padding-large: 8px 12px;
    --fir-button-bg-disable: var(--fir-c-gray-light-4);
    --fir-button-hover-bg: var(--fir-c-primary-light);

    /* Checkbox */
    --fir-checkbox-border: 1px solid var(--fir-c-primary);
    --fir-checkbox-border-color-disabled: var(--fir-global-text-disabled-color);
    --fir-checkbox-bg-color-disabled: var(--fir-c-gray-light-3);

    /* Chip */
    --fir-chip-font-size: 12px;
    --fir-chip-border-radius: 16px;

    /* IconButton */
    --fir-icon-button-border: 1px solid transparent;
    --fir-icon-button-border-radius: 50%;
    --fir-icon-button-bg-color: transparent;
    --fir-icon-button-bg-color-hover: var(--fir-c-transparent-light);

    /* Input */
    --fir-input-text-font-size: var(--fir-global-font-size-medium);
    --fir-input-text-label-font-size: var(--fir-global-font-size-small);
    --fir-input-text-padding: 4px 8px;
    --fir-input-text-border: 1px solid var(--fir-global-border-color);
    --fir-input-text-border-hover: 1px solid var(--fir-global-border-color-hover);
    --fir-input-text-border-focus: 1px solid var(--fir-global-border-color-focus);
    --fir-input-text-border-disabled: 1px solid var(--fir-global-border-color-disabled);
    --fir-input-text-border-error: 1px solid var(--fir-global-border-color-error);
    --fir-input-text-error-font-size : var(--fir-global-font-size-small);
    --fir-input-text-ph-font-size : 13px;

    /* Modal */
    --fir-modal-bg-color: var(--fir-c-white);
    --fir-modal-padding: 24px;
    --fir-modal-wrapper-bg-color: var(--fir-c-transparent);
    --fir-modal-border-radius: var(--fir-global-border-radius);

    /* Select */
    --fir-select-bg-color: var(--fir-c-white);

    /* Tooltip */
    --fir-tooltip-max-width: 300px;
    --fir-tooltip-min-width: 80px;
    --fir-tooltip-font-size: var(--fir-global-font-size-small);
}