:root {
    /* Colors */
    --fir-color-white: #ffffff;
    --fir-color-white-soft: #f9f9f9;
    --fir-color-white-mute: #f1f1f1;
    --fir-color-black: #1a1a1a;
    --fir-color-black-pure: #000000;
    --fir-color-black-soft: #242424;
    --fir-color-black-mute: #2f2f2f;
    --fir-color-indigo: #213547;
    --fir-color-indigo-soft: #476582;
    --fir-color-indigo-light: #aac8e4;
    --fir-color-gray: #8e8e8e;
    --fir-color-gray-light-1: #aeaeae;
    --fir-color-gray-light-2: #c7c7c7;
    --fir-color-gray-light-3: #d1d1d1;
    --fir-color-gray-light-4: #e5e5e5;
    --fir-color-gray-light-5: #f2f2f2;
    --fir-color-gray-dark-1: #636363;
    --fir-color-gray-dark-2: #484848;
    --fir-color-gray-dark-3: #3a3a3a;
    --fir-color-gray-dark-4: #282828;
    --fir-color-gray-dark-5: #202020;
    --fir-color-green: #42b883;
    --fir-color-green-light: #42d392;
    --fir-color-green-lighter: #35eb9a;
    --fir-color-green-lighter-1: #a2ffd5;
    --fir-color-green-dark: #33a06f;
    --fir-color-green-darker: #155f3e;
    --fir-color-blue: #3b8eed;
    --fir-color-blue-light: #549ced;
    --fir-color-blue-lighter: #7fb6f5;
    --fir-color-blue-lighter-1: #b6d8ff;
    --fir-color-blue-dark: #3468a3;
    --fir-color-blue-darker: #255489;
    --fir-color-yellow: #ffc517;
    --fir-color-yellow-light: #ffe417;
    --fir-color-yellow-lighter: #ffff17;
    --fir-color-yellow-lighter-1: #ffffaa;
    --fir-color-yellow-dark: #e0ad15;
    --fir-color-yellow-darker: #bc9112;
    --fir-color-red: #ed3c3c;
    --fir-color-red-light: #f43771;
    --fir-color-red-lighter: #fd1d7c;
    --fir-color-red-lighter-1: #ffaaaa;
    --fir-color-red-dark: #cd2d3f;
    --fir-color-red-darker: #ab2131;
    --fir-color-purple: #de41e0;
    --fir-color-purple-light: #e936eb;
    --fir-color-purple-lighter: #f616f8;
    --fir-color-purple-dark: #823c83;
    --fir-color-purple-darker: #602960;
    --fir-color-transparent-light: rgba(0, 0, 0, 0.15);
    --fir-color-transparent: rgba(0, 0, 0, 0.3);
    --fir-color-state-red: #C62828;
    --fir-color-state-red-30: #EEBFBF;
    --fir-color-state-red-10: #F9E9E9;
    --fir-color-state-red-90: #624242;
    --fir-color-state-green: #00B233;
    --fir-color-state-green-30: #B3E8C2;
    --fir-color-state-green-10: #E5F7EB;
    --fir-color-state-green-90: #385B44;
    --fir-color-state-blue: #379BD9;
    --fir-color-state-blue-30: #C3E1F4;
    --fir-color-state-blue-10: #EBF5FB;
    --fir-color-state-blue-90: #3C5767;
    --fir-color-state-yellow: #FFB735;
    --fir-color-state-yellow-30: #FFE9C2;
    --fir-color-state-yellow-10: #FFF8EB;
    --fir-color-state-orange: #F5771E;
    --fir-color-state-orange-30: #FCD6BB;
    --fir-color-state-orange-10: #FEF1E8;
    --fir-color-state-orange-90: #6D523F;

    /* Sizes */
    --fir-global-font-size-small: 14px;
    --fir-global-font-size-medium: 16px;
    --fir-global-font-size-large: 20px;
    --fir-global-border-radius: 4px;
    --fir-global-inputs-padding: 4px;

    /* Other */
    --fir-global-duration: .2s;
    --fir-color-primary: var(--fir-color-green);

    /* Text colors */
    --fir-global-text-color: var(--fir-color-black-soft);
    --fir-global-text-disabled-color: var(--fir-color-gray-light-1);
    --fir-global-text-error-color: var(--fir-color-red);

    /* Borders */
    --fir-global-border-color: var(--fir-color-gray-light-1);
    --fir-global-border-color-hover: var(--fir-color-gray-dark-1);
    --fir-global-border-color-focus: var(--fir-color-green);
    --fir-global-border-color-disabled: var(--fir-color-gray-light-3);
    --fir-global-border-color-error: var(--fir-color-red);

    /* Button */
    --fir-button-font-size-small: 13px;
    --fir-button-font-size-medium:  var(--fir-global-font-size-medium);
    --fir-button-font-size-large: var(--fir-global-font-size-large);
    --fir-button-padding-small: 2px 4px;
    --fir-button-padding-medium: 4px 8px;
    --fir-button-padding-large: 8px 12px;
    --fir-button-bg-disable: var(--fir-color-gray-light-4);
    --fir-button-hover-bg: var(--fir-color-green-light);

    /* Checkbox */
    --fir-checkbox-border: 1px solid var(--fir-color-primary);
    --fir-checkbox-border-color-disabled: var(--fir-global-text-disabled-color);
    --fir-checkbox-bg-color-disabled: var(--fir-color-gray-light-3);

    /* Chip */
    --fir-chip-font-size: 13px;
    --fir-chip-border-radius: 16px;

    /* IconButton */
    --fir-icon-button-border: 1px solid transparent;
    --fir-icon-button-border-radius: 50%;
    --fir-icon-button-bg-color: transparent;
    --fir-icon-button-bg-color-hover: var(--fir-color-transparent-light);

    /* Input */
    --fir-input-font-size: var(--fir-global-font-size-medium);
    --fir-input-label-font-size: var(--fir-global-font-size-small);
    --fir-input-padding: 4px 8px;
    --fir-input-border: 1px solid var(--fir-global-border-color);
    --fir-input-border-hover: 1px solid var(--fir-global-border-color-hover);
    --fir-input-border-focus: 1px solid var(--fir-global-border-color-focus);
    --fir-input-border-disabled: 1px solid var(--fir-global-border-color-disabled);
    --fir-input-border-error: 1px solid var(--fir-global-border-color-error);
    --fir-input-error-font-size : 14px;
    --fir-input-ph-font-size : 14px;

    /* Modal */
    --fir-modal-bg-color: var(--fir-color-white-mute);
    --fir-modal-padding: 24px;
    --fir-modal-wrapper-bg-color: var(--fir-color-transparent);
    --fir-modal-border-radius: var(--fir-global-border-radius);
}